mixin send(placeholder)
  form.form-group.border-0.border-top.bg-white.d-flex.justify-content-beetwen.align-items-center.py-3.mb-0
    input(type="text" placeholder=placeholder).form-control-plaintext.flex-grow-1.px-4.py-2.bg-white.line-height-18
    button(type="button").btn.btn-primary.square-42.rounded-circle.mr-3.d-flex.align-items-center
      +icon("cursor")(class="filter-invert-100 square-22")