mixin chat-message(name, message, timestamp)
  div.d-flex.flex-column.radius.ms-sm-3.shadow-sm.align-items-start.justify-content-center.align-content-center&attributes(attributes)
    div.p-4
      div.fw-bold.mb-1= name
      div.msg.mb-0.pb-2.border-bottom= message
      small.fw-light.pt-1= timestamp
