mixin chat-message(name, message, timestamp)
  div.d-flex.flex-column.radius.mt-3.shadow-sm.align-items-start.justify-content-center.align-content-center&attributes(attributes)
    div.p-4
      p.h6.fw-bold= name
      p.msg.mb-0.pb-2.border-bottom= message
      div.pt-1.fw-light
        small= timestamp
