include avatar
mixin contact(name, status, avatar)
  a.text-decoration-none.text-black(href='#')
    div.mt-3.mb-3.d-flex.card-component.contact.shadow-sm.text-decoration-none.p-4
      div.me-3
        +avatar(avatar)
      div.align-self-center
        p.fw-bold.pb-0.mb-0= name
        div.status.fw-normal.small= status
