include avatar
mixin message(name, message, timestamp, avatar)
  - const href = name == 'Вениамин Редакторович' ? 'chat.html' : '#'

  a.text-decoration-none.text-black(href= href)
    div.my-2.d-flex.shadow-sm.justify-content-start.card-component
      div.align-self-center.ms-2
        +avatar(avatar)
      div.my-4.align-self-center.message
        p.h6.fw-bold= name
        div.status.pb-0.fw-normal.small.text-truncate= message
      div.my-4.ms-auto.me-4.align-self-start
        div.status.small.fw-normal= timestamp
