ul.list-group.list-group-flush
  li.list-group-item.d-flex.py-3
    div
      div.fw-light.small.opacity-50.status Страна
      div.fw-light.small Москва, Россия
    div.ms-auto
      i.bi.bi-globe.text-black-50
  li.list-group-item.d-flex.py-3
    div
      div.fw-light.small.opacity-50.status Телефон
      div.fw-light.small +7 (499) 123-45-67
    div.ms-auto
      i.bi.bi-telephone.text-black-50
  li.list-group-item.d-flex.py-3
    div
      div.fw-light.small.opacity-50.status Email
      div.fw-light.small nikita.m@hexlet.io
    div.ms-auto
      i.bi.bi-envelope.text-black-50
  li.list-group-item.d-flex.py-3
    div
      div.fw-light.small.opacity-50.status Twitter
      div.fw-light.small @n_mikhaylov
    div.ms-auto
      i.bi.bi-people.text-black-50
