.card.text-center.py-5.border-0.rounded
  img.card-img-top.avatar-md.radius-90.align-self-center(src='images/avatar_1.jpg' alt='profile pic')
  .card-body
    p.fw-bold.card-title.m-3 Кодовёнок Хекслетович
    p.card-text.fw-normal.status.mt-3 Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
