div.mt-5
  ul.list-group.list-group-flush.mx-4
    li.list-group-item.d-flex.py-2
      div
        div.fw-normal.small.status Страна
        div.fw-normal.small Москва, Россия
      div.ms-auto.align-self-center
        i.bi.bi-globe.text-black-50
    li.list-group-item.d-flex.py-2
      div
        div.fw-normal.small.status Телефон
        div.fw-normal.small +7 (499) 123-45-67
      div.ms-auto.align-self-center
        i.bi.bi-telephone.text-black-50
    li.list-group-item.d-flex.py-2
      div
        div.fw-normal.small.status Email
        div.fw-normal.small nikita.m@hexlet.io
      div.ms-auto.align-self-center
        i.bi.bi-envelope.text-black-50
    li.list-group-item.d-flex.py-2
      div
        div.fw-normal.small.status Twitter
        div.fw-normal.small @n_mikhaylov
      div.ms-auto.align-self-center
        i.bi.bi-people.text-black-50

