.card.text-center.py-3.mb-3.border-0.rounded
  img.card-img-top.avatar-md.radius-90.align-self-center(src='images/avatar_1.jpg')
  .card-body
    p.fw-bold.card-title Кодовёнок Хекслетович
    p.card-text.small.fw-light.status Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
