.svg-chat-dims {
	width: 1px;
	height: 1px;
}

.svg-chat-left-text-dims {
	width: 1px;
	height: 1px;
}

.svg-cursor-dims {
	width: 1px;
	height: 1px;
}

.svg-envelope-dims {
	width: 16px;
	height: 16px;
}

.svg-globe-dims {
	width: 16px;
	height: 16px;
}

.svg-logo-dims {
	width: 157.33px;
	height: 267.55px;
}

.svg-people-dims {
	width: 16px;
	height: 16px;
}

.svg-person-dims {
	width: 1px;
	height: 1px;
}

.svg-telephone-dims {
	width: 16px;
	height: 16px;
}

