$blue: #4545a5;
$green: #28a745;
$cyan: #17a2b8;
$yellow: #ffc107;
$red: #dc3545;
$gray-100: #fbfbfb;
$gray-200: #efefef;
$gray-600: #6c757d;
$gray-800: #343a40;
$body-bg: $gray-200;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$grey: $gray-200;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "grey": $grey,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px,
);

$border-sides: (
  "bottom",
  "top",
  "left",
  "right",
  "all"
);

$square-sizes: (
  16: 16px,
  22: 22px,
  42: 42px,
  50: 50px,
  72: 72px,
  90: 90px,
  92: 92px,
  200: 200px
);

$hover-focus: (
  chat: (
    parrent-bg-color: $primary,
    name-text-color: $light,
    description-text-color: $grey
  ),
  contacts: (
    parent-bg-color: $primary,
    name-text-color: $light,
    description-text-color: $grey
  )
);

$enable-shadows: true;
$box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
// $input-line-height: 1;
