@import 'mixins/hide-scrollbar.scss';

.container-xxl {
  background: white;
}

.icon {
  width: 25px;
  height: 25px;
}

.logo {
  width: 15px;
  height: 25px;
  fill: $light;
}

.avatar {
  width: 200px;
  height: 200px;
}

.cursor {
  min-width: 20px;
  height: 20px;
}

.avatar-sm {
  width: 50px;
  height: 50px;
}

.avatar-md {
  width: 90px;
  height: 90px;
}

.card-component .contact {
  &:hover {
    cursor: pointer;
    background: $primary;
    color: $light;
  }

  &:hover .status {
    color: $gray;
  }
}

.status {
  color: $secondary;
}

p:empty {
  display: none;
}

.message {
  min-width: 0;
}

.chat {
  @include hide-scrollbar;

}

@include media-breakpoint-down(sm) {
  .navbar {
    order: 2;
  }
  .list-group i {
    display: none;
  }
}
