@import 'mixins/hide-scrollbar.scss';

body {
  background: $gray;
}

.container {
  background: $light;
  border: 1px solid $gray;
  border-radius: 1rem;
}

.icon {
  width: 25px;
  height: 25px;
}

.logo {
  width: 15px;
  height: 25px;
  fill: $light;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.avatar-sm {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.contact {
  &:hover {
    cursor: pointer;
    background: $primary;
    color: $light;
  }

  &:hover .status {
    color: $gray;
  }
}

.status {
  color: $secondary;
}

p:empty {
  display: none;
}

.message {
  min-width: 0;
}

.chat {
  @include hide-scrollbar;

}

@include media-breakpoint-down(sm) {
  .container {
    border-radius: 0;
    border: 0;
  }
  .navbar {
    order: 2;
  }
}
