body {
  background: $gray;
}

.container {
  background: $light;
  border: 1px solid $gray;
  border-radius: 1rem;
}

.icon {
  width: 25px;
  height: 25px;
}

.logo {
  width: 15px;
  height: 25px;
  fill: $light;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
