$enable-shadows: true;
$primary: #4545a5;
$gray: #efefef;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #fbfbfb;
$dark: #343a40;
$body-bg: $gray;
$border-color: $gray;
$input-plaintext-color: $secondary;
