extends ../layout/main

block variables
  -var pageTitle = "Мессенджер «Hexlet Chat» | Чаты"
  -var headerType = "chat"

block left-side
  div.tab-content
    div(aria-labelledby="current-chat-tab")#current-chat.tab-pane.fade
      div.d-block.d-lg-none.pt-4.pt-lg-0
        include ../modules/dialogs  
    div(aria-labelledby="contacts-tab")#contacts.tab-pane.fade
      include ../modules/contacts
    div(aria-labelledby="chats-tab")#chats.tab-pane.fade.show.active
      include ../modules/chats
    div(aria-labelledby="profile-tab")#profile.tab-pane.fade
      include ../modules/profile

block right-side
  include ../modules/dialogs