extends ../layout/main

block variables
  -var pageTitle = "Мессенджер «Hexlet Chat» | Главная"
  -var headerType = "main"

block left-side
  div.tab-content
    div(aria-labelledby="contacts-tab")#contacts.tab-pane.fade.show.active
      include ../modules/contacts
    div(aria-labelledby="chats-tab")#chats.tab-pane.fade
      include ../modules/chats
    div(aria-labelledby="profile-tab")#profile.tab-pane.fade
      include ../modules/profile

block right-side
  include ../modules/greeting