-
  const user = {
    name: "Вениамин Редакторович",
    status: "Онлайн",
    avatar: "/images/avatar_4.jpg"
  }

include ../components/avatar

div.d-flex.card-component.position-sticky.text-decoration-none.border-bottom.w-100.ps-3.pt-4.pb-3
  div
    +avatar(user.avatar)
  div.align-self-center.ms-4
    div.fw-bold= user.name
    div.status.fw-normal.small.pb-2= user.status
