header.order-last.order-md-first.radius-left-top-md.text-light.bg-primary
  nav.d-flex.p-3.justify-content-between.flex-nowrap
    div.align-self-center.ms-1
      a.me-auto.logo(href='#')
        svg.logo
          use(href='images/symbol/sprite.svg#logo')
    div.border-0.bg-primary.flex-nowrap.d-flex
      ul.nav.nav-pills(role='tablist')
        if current == 'chat'
          li.nav-item.d-md-none.d-block.me-2.me-sm-0(role='presentation')
            div(data-bs-toggle='pill' id='current-pill' data-bs-target='#current-chat' role='tab' aria-controls='current-chat-pill' aria-selected='true')
              a.nav-link.d-flex.flex-column.flex-md-row.align-items-center.text-light(href='#current-chat')
                svg.icon
                  use(href='images/symbol/sprite.svg#chat-left-text')
        li.nav-item.me-2.me-sm-0(role='presentation')
          div(data-bs-toggle='pill' id='contact-pill' data-bs-target='#contacts' role='tab' aria-controls='contacts' aria-selected='true')
            a.nav-link.d-flex.flex-column.flex-md-row.aign-items-center.text-light(href='#contacts')
              svg.icon
                use(href='images/symbol/sprite.svg#people')
              span.small.ms-2.align-self-center.d-none.d-sm-block Контакты
        li.nav-item.me-2.me-sm-0(role='presentation')
          div(data-bs-toggle='pill' id='chats-pill' data-bs-target='#chats' role='tab' aria-controls='chats' aria-selected='false')
            a.nav-link.d-flex.flex-column.flex-md-row.align-items-center.text-light(href='#chats')
              svg.icon
                use(href='images/symbol/sprite.svg#chat')
              span.small.ms-2.align-self-center.d-none.d-sm-block Сообщения
        li.nav-item.me-2.me-sm-0(role='presentation')
          div(data-bs-toggle='pill' id='profile-pill' data-bs-target='#profile' role='tab' aria-controls='profile' aria-selected='false')
            a.nav-link.d-flex.flex-column.flex-md-row.align-items-center.text-light(href='#profile')
              svg.icon
                use(href='images/symbol/sprite.svg#person')
              span.small.ms-2.align-self-center.d-none.d-sm-block Профиль

