nav.navbar.bg-primary.navbar-light.p-3.header.flex-shrink-0
  a.navbar-brand.flex-grow-1.align-content-center.d-inline-flex.flex-column(href='#')
    svg.logo
      use(href='images/symbol/sprite.svg#logo')
  a.nav-item.nav-link.text-light.d-inline-flex(href='#')
    svg.icon
      use(href='images/symbol/sprite.svg#people')
    span.small.ms-2.align-self-center.d-none.d-sm-block Контакты
  a.nav-item.nav-link.text-light.d-inline-flex(href='#')
    svg.icon
      use(href='images/symbol/sprite.svg#chat')
    span.small.ms-2.align-self-center.d-none.d-sm-block Сообщения
  a.nav-item.nav-link.text-light.d-inline-flex(href='#')
    svg.icon
      use(href='images/symbol/sprite.svg#person')
    span.small.ms-2.align-self-center.d-none.d-sm-block Профиль
