nav.navbar.bg-primary.navbar-light.p-3.justify-content-center
  a.nav-item.nav-link.flex-grow-1(href='#')
    svg.logo
      use(href='images/symbol/sprite.svg#logo')
  a.nav-item.nav-link.text-light(href='#')
    svg.icon
      use(href='images/symbol/sprite.svg#people')
    span.small.ms-2 Контакты
  a.nav-item.nav-link.text-light(href='#')
    svg.icon
      use(href='images/symbol/sprite.svg#chat')
    span.small.ms-2 Сообщения
  a.nav-item.nav-link.text-light(href='#')
    svg.icon
      use(href='images/symbol/sprite.svg#person')
    span.small.ms-2 Профиль
