nav.navbar.navbar-dark.bg-primary.align-content-between
  a.navbar-brand(href='#'): img.logo.float-start(src='images/icons/logo.svg')
  a.nav-item.nav-link(href='#')
    img.icon.float-start(src='images/icons/people.svg')
    span.navbar-text.text-light.fw-normal.ms-1 Контакты
  a.nav-item.nav-link(href='#')
    img.icon.float-start(src='images/icons/chat.svg')
    span.navbar-text.text-light.fw-normal.ms-1 Сообщения
  a.nav-item.nav-link(href='#')
    img.icon.float-start(src='images/icons/person.svg')
    span.navbar-text.text-light.fw-normal Профиль
