h1.fw-bold Профиль
div
  input.form-control-plaintext.border-0.border-bottom.p-3.fw-light.mb-5(type='text', placeholder='Поиск по сообщениям')
  div
    include ../components/profile-card
    include ../components/profile-info
