include ../components/searchbar
div.pt-5.px-4
  h2.fw-bold Профиль
  div
    +searchbar('Поиск по сообщениям')
    div.mt-5
      include ../components/profile-card
      include ../components/profile-info
