@each $breakpoint in map-keys($grid-breakpoints) {

  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $key, $val in $square-sizes {
      .square#{$infix}-#{$key} {
        width: $val;
        height: $val;
      }

      .width#{$infix}-#{$key} {
        width: $val;
      }

      .height#{$infix}-#{$key} {
        height: $val;
      }
    }
  }
}
