$contact: ".contact";

.contacts {
  .contact {

    @include hover-focus() {
      background-color: $primary;

      #{$contact} {
        &-name {
          color: $light !important;
        }

        &-status {
          color: $grey !important;
        }
      }
    }
  }
}
