doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Мессенджер «Hexlet Chat»
        link(rel="stylesheet", href="./css/app.css")
    body.bg-gray.d-flex.justify-content-center.align-items-stretch.min-vh.overflow-hidden
        .ms-4.my-4.bg-white.w-50.overflow-auto.hide-scroll
            .sticky-top.text-center.bg-primary.text-light.p-4
                p.m-0 head
            p.p-4.m-0
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec est risus. Pellentesque purus dui, aliquet eget interdum at, volutpat vitae urna. Curabitur dui mi, viverra quis est in, sollicitudin ultrices nisi. Maecenas vestibulum interdum ligula in vulputate. Nulla id arcu eu arcu placerat porttitor quis id arcu. Aliquam pharetra eget leo vitae euismod. Proin vel ipsum luctus, vehicula turpis non, malesuada turpis. Curabitur iaculis mi ut facilisis gravida. Integer sit amet mauris porta, dignissim felis in, eleifend sem. Etiam turpis mi, venenatis eget ante vitae, feugiat pharetra massa.
                | Pellentesque purus lacus, laoreet non nulla non, convallis tempor erat. In efficitur eros nec nibh luctus ultricies. Suspendisse sed sagittis nibh. In id malesuada odio. Sed ex justo, ornare finibus sagittis ac, vehicula quis lorem. Aliquam id fermentum lorem, vel rutrum ligula. Mauris feugiat felis efficitur, tempor eros id, sagittis leo. Phasellus porta, lorem eget mattis placerat, dolor quam posuere nisl, quis rhoncus velit lacus sollicitudin nisi. Sed metus arcu, accumsan eget condimentum sed, molestie vitae magna. Sed dictum elit nec nibh efficitur, ac porta nibh sodales. Donec orci arcu, lacinia vel augue a, cursus porttitor purus. Duis at massa eu tellus luctus vulputate. Duis scelerisque libero at augue vehicula, id interdum ante posuere. Proin lobortis felis quis sem semper, ac pulvinar velit lacinia.
                | Aliquam pellentesque, turpis eu mollis condimentum, nibh odio interdum velit, varius commodo tellus libero a velit. In hendrerit tincidunt lectus quis bibendum. Morbi ultricies mi a vehicula aliquet. Donec faucibus iaculis mi, non semper nulla cursus et. Sed eget congue quam. Sed vitae elementum lorem. Nullam eget arcu vitae mauris finibus eleifend at quis purus. Proin in sapien a enim tincidunt iaculis. Fusce ut justo sit amet ante tempor feugiat a ut nunc. Integer bibendum augue sit amet mauris gravida, ac blandit velit dapibus. Maecenas non dolor quis purus egestas fermentum vitae a dolor. Vestibulum condimentum condimentum felis, at finibus ex consequat sed. Ut eget volutpat metus. Morbi elementum, massa et luctus sollicitudin, ligula odio bibendum metus, eget scelerisque dolor neque mattis diam. Donec condimentum dui a lacinia condimentum. Sed at magna vulputate, ornare massa eu, sollicitudin mauris.
                | Mauris ornare metus sed vehicula faucibus. Sed feugiat pretium felis in suscipit. Nulla sit amet vulputate ipsum. Vestibulum commodo mi eu dolor egestas rhoncus. Integer sollicitudin turpis placerat molestie pretium. Nam feugiat sem vitae auctor posuere. Quisque sed lobortis tortor. Nunc sem turpis, finibus at tincidunt vel, facilisis in quam. Praesent ultricies sodales mollis. Pellentesque porta nisi quis posuere ullamcorper. Ut non eros sapien. Morbi ac risus eget urna varius ullamcorper.
                | Donec a imperdiet elit. Donec lacinia sollicitudin eros vel gravida. Integer eu pellentesque orci. Curabitur finibus nunc diam, et commodo odio porttitor at. Vestibulum elit massa, malesuada vel magna sed, convallis scelerisque augue. Praesent vel ipsum egestas, luctus ligula lobortis, venenatis eros. Duis lobortis odio neque, vitae gravida felis vehicula eget. Donec dapibus nisl id sagittis iaculis. Nam ac ornare nulla. Suspendisse leo urna, tempus ultricies libero in, malesuada volutpat massa. Proin ultrices felis eget metus bibendum, at posuere eros ultricies. Cras justo enim, rutrum eu ultricies eget, aliquam viverra arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed condimentum luctus elit.
                | Aenean in faucibus ipsum. Donec vestibulum sed nisl ac tempor. Vivamus ante neque, cursus sed sodales rhoncus, vestibulum eget dolor. Pellentesque elementum dolor felis, non laoreet enim rutrum id. Aliquam dignissim, dui ac convallis tristique, enim velit interdum lacus, pharetra ornare ex dolor sit amet lectus. Mauris eget diam sodales, semper dolor at, interdum turpis. Curabitur sed vehicula mi, in tincidunt tellus.
                | Curabitur pretium gravida felis, eu luctus nunc placerat et. Cras nec pharetra justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed aliquam lectus vitae diam elementum, et molestie leo sagittis. Ut pulvinar, purus eu dictum commodo, dui purus gravida lacus, eu fringilla eros purus eu enim. Sed magna justo, luctus in iaculis sit amet, rutrum ac nunc. Phasellus faucibus nisl at vulputate maximus. Maecenas molestie faucibus arcu ac tincidunt.
                | Vestibulum venenatis fermentum elit nec tristique. Quisque vel ex bibendum, auctor massa sit amet, lobortis mauris. Ut pellentesque nec arcu ac eleifend. Nunc nec lacus dolor. Nunc malesuada ornare lacus at hendrerit. Pellentesque eu augue faucibus, rutrum urna eu, rhoncus nulla. Curabitur quis varius nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris ut iaculis orci. Vestibulum tincidunt, lacus id aliquet feugiat, erat ex pellentesque ante, ut lobortis nisi libero ac odio. Pellentesque pellentesque turpis in sagittis tincidunt. Vestibulum venenatis tincidunt turpis ac condimentum. In hendrerit laoreet molestie.
                | Morbi eget sapien eu tellus pellentesque auctor. Cras ullamcorper, lorem non convallis mollis, turpis lacus iaculis nulla, sit amet malesuada nisl tellus vel elit. Morbi eleifend porta massa, sit amet convallis ligula volutpat in. Vestibulum congue laoreet ante, non gravida urna ultricies eu. Pellentesque cursus feugiat dolor, vehicula dapibus nibh ullamcorper vitae. Donec efficitur risus in lorem efficitur porta. Quisque elementum feugiat elit nec pulvinar. Pellentesque pulvinar ipsum elementum sodales mollis.
                | Suspendisse porttitor est sed arcu pellentesque, non maximus purus consequat. Proin non porttitor massa, at auctor arcu. Nulla lacinia, mi quis dictum ultricies, nulla arcu viverra libero, id porta lacus tellus eget nibh. Pellentesque a viverra odio. Duis interdum scelerisque nulla posuere tincidunt. Pellentesque at dapibus erat, in ornare nisi. Morbi maximus risus a malesuada tempor. Sed mollis ligula urna, suscipit maximus orci bibendum ut. Nullam id vestibulum nisi. Sed laoreet diam tortor, quis luctus augue pharetra quis. Maecenas vehicula sagittis risus, eget lacinia sem hendrerit eget. Aliquam non nunc sollicitudin, mollis justo id, maximus mauris. Ut ultrices varius sem, a malesuada diam pharetra nec.
                | Vivamus laoreet arcu ut lacus vestibulum, et ultricies velit congue. Fusce sollicitudin, tortor in venenatis viverra, ligula eros placerat lorem, et luctus nisi ante non nisi. Morbi vel efficitur sem, sit amet feugiat massa. Donec mollis ut nulla ac fringilla. Maecenas aliquet tellus mattis cursus iaculis. Sed posuere ante nec magna varius luctus. Pellentesque nec sagittis nunc. Morbi venenatis mauris egestas diam dictum auctor. Curabitur at quam velit. Sed a consequat nisl. Morbi ac consequat sem. Pellentesque vehicula, lacus et hendrerit finibus, turpis tellus gravida urna, a semper diam nisl eget lorem.
                | Curabitur aliquam, urna ut euismod consectetur, nulla dolor tempor tortor, id vestibulum elit ligula sed dui. Phasellus vestibulum sapien auctor massa convallis rhoncus. Sed fermentum, est eget varius feugiat, tortor tellus sagittis est, non convallis lacus est sit amet sem. Mauris vitae dolor elit. Integer feugiat leo non suscipit mollis. Quisque feugiat venenatis dui, at tristique elit tincidunt laoreet. In hac habitasse platea dictumst. Duis in purus justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus tempor ipsum at erat hendrerit, at pulvinar arcu varius. Vestibulum molestie diam quis quam dictum convallis. Aenean leo augue, lacinia et luctus ac, tincidunt sed urna. Vivamus aliquet diam eget egestas posuere. Nunc blandit nulla sed ligula vestibulum pellentesque.
            .sticky-top.sticky-bottom.text-center.bg-primary.text-light.p-4
                p.m-0 foot
        .me-4.my-4.p-4.bg-white.w-50.border-0.border-start div2


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Мессенджер «Hexlet Chat»
        link(rel="stylesheet", href="./css/app.css")
    body.bg-gray.d-flex.justify-content-center.align-items-stretch.min-vh.overflow-hidden
        .container-xxl
            .row.d-flex.min-vh-100
                #left-section.col-12.col-md-4.d-flex.flex-column.border-0.border-gray.p-0.radius-left
                    .main-nav.bg-primary.w-100.ps-3.pe-3.d-flex.justify-content-between.sticky-top.align-items-center.radius-left-top
                        img(src="./images/icons/logo.svg", alt="logo", class="chat-logo ms-1 mt-4 mb-4", style="height: 24px;")
                        nav
                            .nav.nav-tabs(id="nav-tab" role="tablist")
                                button.nav-link.link-light.hide-n-seek(id="current-chat-tab" data-bs-toggle="tab" data-bs-target="#current-chat" type="button" role="tab" aria-controls="current-chat" aria-selected="true")
                                    img(src="./images/icons/chat-left-text.svg", alt="")
                                button.nav-link.active.link-light(id="contacts-tab" data-bs-toggle="tab" data-bs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="true")
                                    img.nav-icon(src="./images/icons/people.svg", alt="")
                                    span.small.ms-2 Контакты
                                button.nav-link.link-light(id="chats-tab" data-bs-toggle="tab" data-bs-target="#chats" type="button" role="tab" aria-controls="chats" aria-selected="false")
                                    img.nav-icon(src="./images/icons/chat.svg", alt="")
                                    span.small.ms-2 Сообщение
                                button.nav-link.link-light(id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false")
                                    img.nav-icon(src="./images/icons/person.svg", alt="")
                                    span.small.ms-2 Профиль
                    .tab-content(id="nav-tabContent")
                        .tab-pane.fade.show.active.ps-4.pe-4(id="contacts" role="tabpanel" aria-labelledby="contacts-tab") 
                            include pug/contact.pug
                        .tab-pane.fade.ps-4.pe-4(id="chats" role="tabpanel" aria-labelledby="chats-tab")
                            include pug/chats.pug
                        .tab-pane.fade.ps-4.pe-4(id="profile" role="tabpanel" aria-labelledby="profile-tab")
                            include pug/profile.pug
                        .tab-pane.fade.hide-n-seek(id="current-chat" role="tabpanel" aria-labelledby="current-chat-tab")
                            include pug/current-chat.pug
                #right-section.col.m-0.d-flex.border-start.border-gray.justify-content-center.sticky-top.h-100.radius-right.min-vh-100
                    include pug/avatar.pug
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous") 
        