doctype html
html(lang='ru')
  include sections/head
  body
    div.container.vh-100.overflow-hidden
      div.row
        div.col-lg-5.col-sm-4.border-end.px-0.menu.d-flex.flex-column-reverse.d-sm-block
          include sections/header
          div.col.pt-5.px-4.overflow-scroll.vh-100.chat
            h1.fw-bold Контакты
            include sections/left
        div.col.align-self-center.d-none.d-sm-block
          include sections/right
