doctype html
html(lang='ru')
  include sections/head
  body
    div.container.vh-100.overflow-hidden
      div.row
        div.col-6.bg-primary.align-items-center
          include sections/header
      div.row
        div.col-4.pt-5.px-4
          include sections/left
        div.col-8
          include sections/right
