doctype html
html(lang='ru')
  include sections/head
  body
    div.container.vh-100.overflow-hidden
      div.row
        div.col-4.bg-primary
          include sections/header
      div.row
        div.col-4.pt-5.px-4
          aside левый сайдбар
        div.col-8
          aside правый сайдбар
