doctype html
html(lang='ru')
  include sections/head
  body
    div.container.vh-100.overflow-hidden
      div.row
        div.col-5.border-end.px-0
          include sections/header
          div.col.pt-5.px-4.overflow-scroll.vh-100.chat
            h1.fw-bold Контакты
            include sections/left
        div.col.align-self-center
          include sections/right
