doctype html
html(lang='ru')
  include sections/head
  body
    div.container.vh-100.overflow-hidden
      div.row
        div.col-4.border-end.px-0.vh-100
          include sections/header
          div.col.pt-5.px-4
            h1.fw-bold Контакты
            include sections/left
        div.col.align-self-center
          include sections/right
