#avatar.d-flex.flex-column.justify-content-center.align-items-center.h-100
    img(src="./images/avatar_1.jpg", alt="avatar-1" class="rounded-circle")
    p.fw-bold.m-0 Привет, Кодовёнок
    p.small.m-0 Выбери чат, чтобы начать общаться