h2.fw-bold.pt-5 Чаты
form
    input(type="text" placeholder="Поиск по сообщениям" class="form-control mt-4 mb-5 p-4 border-0 border-bottom rounded-0 shadow-none")
.my-5.pb-5
    a(href="#" class="clear-style") 
        .cc-card.mb-3.px-3.d-flex.align-items-center.shadow-sm.mw-100
            img(src="./images/avatar_4.jpg", alt="contact image" class="rounded-circle")
            .m-4.d-flex.flex-column.w-100.overflow-auto.position-relative
                p.fw-bold.m-0.text-truncate.contact-card-name Вениамин Редакторович
                p.small.m-0.position-absolute.top-0.end-0 11:45
                p.small.m-0.w-100.text-truncate o_O
    a(href="#" class="clear-style") 
        .cc-card.mb-3.px-3.d-flex.align-items-center.shadow-sm.mw-100
            img(src="./images/avatar_2.jpg", alt="contact image" class="rounded-circle")
            .m-4.d-flex.flex-column.w-100.overflow-auto.position-relative
                p.fw-bold.m-0.text-truncate.contact-card-name Джедай Падаванов 
                p.small.m-0.position-absolute.top-0.end-0 10:12
                span.small.m-0.w-100.text-truncate Привет, скоро третий проект? Уже скоро надо будет выложить
    a(href="#" class="clear-style") 
        .cc-card.mb-3.px-3.d-flex.align-items-center.shadow-sm.mw-100
            img(src="./images/avatar_3.jpg", alt="contact image" class="rounded-circle")
            .m-4.d-flex.flex-column.w-100.overflow-auto.position-relative
                p.fw-bold.m-0.text-truncate.contact-card-name Алексей Примадонин
                p.small.m-0.position-absolute.top-0.end-0 08:35
                p.small.m-0.text-truncate Тесты упали >_<
    .py-5.pb-5
    .py-5.pb-5
