-
    var contacts = {
        "A": [{
        name: "Алексей Примадонин",
        status: "Онлайн",
        avatar: "/images/avatar_3.jpg"
        }],

        "В": [{
        name: "Вениамин Редакторович",
        status: "Онлайн",
        avatar: "/images/avatar_4.jpg"
        }],

        "Д": [{
        name: "Джедай Падаванов",
        status: "Был онлайн вчера",
        avatar: "/images/avatar_2.jpg"
        }],

        "К": [{
        name: "Кодовёнок Хекслетович",
        status: "Был онлайн 3 часа назад",
        avatar: "/images/avatar_1.jpg"
        },
        {
        name: "Королева Верстальщина",
        status: "Была онлайн вчера",
        avatar: "/images/avatar_5.jpg"
        }],

        "П": [{
        name: "Питонист Джангович",
        status: "Был онлайн вчера",
        avatar: "/images/avatar_6.jpg"
        }],
    }
h2.fw-bold.pt-5 Контакты
form
    input(type="text" placeholder="Поиск по контактам" class="form-control mt-4 mb-5 p-4 border-0 border-bottom rounded-0 shadow-none")
div
    each list, letter in contacts
        p.text-muted.mt-5= letter
        each contact in list
            a(href="#" class="clear-style") 
                .cc-card.mb-3.p-3.d-flex.align-items-center.shadow-sm
                    img(src='.' + contact.avatar, alt="contact image" class="rounded-circle")
                    .px-4.py-2
                        p.fw-bold.m-0= contact.name 
                        p.small.m-0= contact.status