.nav.justify-content-between.align-items-center.radius-right-top.border-0.border-bottom.border-gray.bg-white.sticky-top
    .ps-3.d-flex.align-items-center
        img(src="./images/avatar_4.jpg", alt="contact image" class="rounded-circle" style="width: 50px")
        .p-4
            p.fw-bold.m-0 Вениамин Редакторович
            p.small.m-0 Онлайн
.current-chat.d-flex.flex-column.m-5
    .d-inline-flex.align-self-start.mb-3.radius.align-items-end
        img.me-3.rounded-circle.d-none.d-md-inline-block(src="./images/avatar_4.jpg", alt="avatar" style="width: 50px")
        span.bg-light.border-0.radius.w-100.p-4.shadow-sm.chat-message
            p.m-0.fw-bold.mb-1 Вениамин Редакторович
            p.m-0 Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
            hr.mt-2.mb-1
            p.m-0.small 8 минут назад
    .d-inline-flex.align-self-end.mb-3.radius.align-items-end
        img.me-3.rounded-circle.d-none.d-md-inline-block(src="./images/avatar_1.jpg", alt="avatar" style="width: 50px")
        span.bg-primary.text-light.border-0.radius.w-100.p-4.shadow-sm.chat-message
            p.m-0 Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
            hr.mt-2.mb-1
            p.m-0.small 5 минут назад
    .d-inline-flex.align-self-start.mb-3.radius.align-items-end
        img.me-3.rounded-circle.d-none.d-md-inline-block(src="./images/avatar_4.jpg", alt="avatar" style="width: 50px")
        span.bg-light.border-0.radius.w-100.p-4.shadow-sm.chat-message
            p.m-0.fw-bold.mb-1 Вениамин Редакторович
            p.m-0 Лады
            hr.mt-2.mb-1
            p.m-0.small 5 минут назад
    .d-inline-flex.align-self-end.mb-3.radius.align-items-end
        img.me-3.rounded-circle.d-none.d-md-inline-block(src="./images/avatar_1.jpg", alt="avatar" style="width: 50px")
        span.bg-primary.text-light.border-0.radius.w-100.p-4.shadow-sm.chat-message
            p.m-0 А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
            hr.mt-2.mb-1
            p.m-0.small 3 минуты назад
    .d-inline-flex.align-self-start.mb-3.radius.align-items-end
        img.me-3.rounded-circle.d-none.d-md-inline-block(src="./images/avatar_4.jpg", alt="avatar" style="width: 50px")
        span.bg-light.border-0.radius.w-100.p-4.shadow-sm.chat-message
            p.m-0.fw-bold.mb-1 Вениамин Редакторович
            p.m-0 о_О
            hr.mt-2.mb-1
            p.m-0.small Только что
//- .chat-input.nav.m-0.justify-content-between.align-items-center.radius-right-bottom.bg-white.sticky-top.sticky-bottom.start-0.w-100
.chat-input.nav.m-0.justify-content-between.align-items-center.radius-right-bottom.bg-white.sticky-top.sticky-bottom.start-0.w-100
    .m-0.mx-md-5.border-0.border-top.border-gray.w-100
        form.d-flex.justify-conent-between.align-items-center.px-3
            input.form-control.border-0.rounded-0.shadow-none.px-3.px-md-2(type="text" placeholder="Напишите сообщение...")
            a.send-button.bg-primary.d-flex.justify-content-center.align-items-center.rounded-circle(href="#")
                .i.bi-cursor.text-white
