nav.bg-primary.w-100.ps-3.pe-3.d-flex.justify-content-between.align-items-center.radius-left-top.order-last.order-md-first.sticky-md-top
        img.chat-logo.ms-1.mt-4.mb-4(src="./images/icons/logo.svg", alt="logo", style="height: 24px;")
        .nav.nav-tabs(id="nav-tab" role="tablist")
            a.bg-transparent.nav-link.link-light.d-md-none(id="current-chat-tab" data-bs-toggle="tab" data-bs-target="#current-chat" type="button" role="tab" aria-controls="current-chat" aria-selected="true" href="#current-chat")
                .i.bi-chat-left-text.fs-4
            a.nav-link.link-light.d-flex.align-items-center.active(id="contacts-tab" data-bs-toggle="tab" data-bs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false" href="#contacts")
                .i.bi-people.fs-4
                span.small.ms-2.d-none.d-md-inline-block Контакты
            a.nav-link.link-light.d-flex.align-items-center(id="chats-tab" data-bs-toggle="tab" data-bs-target="#chats" type="button" role="tab" aria-controls="chats" aria-selected="false" href="#chats")
                .i.bi-chat.fs-4
                span.small.ms-2.d-none.d-md-inline-block Сообщение
            a.nav-link.link-light.d-flex.align-items-center(id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" href="#profile")
                i.bi-person.fs-4
                span.small.ms-2.d-none.d-md-inline-block Профиль