include ../mixins/contact
include ../mixins/search

-
  var contacts = {
    "A": [{
      name: "Алексей Примадонин",
      status: "Онлайн",
      avatar: "./images/content/avatar_3.jpg"
    }],

    "В": [{
      name: "Вениамин Редакторович",
      status: "Онлайн",
      avatar: "./images/content/avatar_4.jpg"
    }],

    "Д": [{
      name: "Джедай Падаванов",
      status: "Был онлайн вчера",
      avatar: "./images/content/avatar_2.jpg"
    }],

    "К": [{
      name: "Кодовёнок Хекслетович",
      status: "Был онлайн 3 часа назад",
      avatar: "./images/content/avatar_1.jpg"
    },
    {
      name: "Королева Верстальщина",
      status: "Была онлайн вчера",
      avatar: "./images/content/avatar_5.jpg"
    }],

    "П": [{
      name: "Питонист Джангович",
      status: "Был онлайн вчера",
      avatar: "./images/content/avatar_6.jpg"
    }],
  }   

h2.mb-3.font-weight-bold Контакты

+search("Поиск по контактам")

div.contacts
  each val, key in contacts
    div.text-muted.mb-5
      span.text-secondary.font-size-3=key
      each data in val
        +contact(data.name, data.status, data.avatar)
