include ../mixins/dialog
include ../mixins/send

-
  var dialogs = [
    {
      name: "Вениамин Редакторович",
      text: "Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?",
      avatar: "./images/content/avatar_4.jpg",
      session: "8 минут назад",
      type: "interlocutor"
    },
    {
      name: "Я",
      text: "Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень",
      avatar: "./images/content/avatar_1.jpg",
      session: "5 минут назад",
      type: "user"
    },
    {
      name: "Вениамин Редакторович",
      text: "Лады",
      avatar: "./images/content/avatar_4.jpg",
      session: "5 минут назад",
      type: "interlocutor"
    },    
    {
      name: "Я",
      text: "А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие",
      avatar: "./images/content/avatar_1.jpg",
      session: "3 минут назад",
      type: "user"      
    },
    {
      name: "Вениамин Редакторович",
      text: "о_О",
      avatar: "./images/content/avatar_4.jpg",
      session: "Только что",
      type: "interlocutor"
    },    
  ] 
div.d-flex.align-items-center.px-3.border-bottom.position-lg-sticky.position-fixed.fixed-top.bg-white.height-92
  img(src="./images/content/avatar_4.jpg" alt="").rounded-circle.mr-4.square-50
  div.d-flex.flex-column.py-4
    span.font-weight-bold Вениамин Редакторович
    small.text-secondary Онлайн

div.px-4.px-lg-5.py-5.mt-1.mt-lg-0
  each dialog in dialogs  
    +dialog(dialog)
       
div.px-lg-5.pt-lg-5.mt-lg-5.pb-4.pb-lg-0.mb-5.mb-lg-0.position-fixed.position-lg-sticky.fixed-bottom
  +send("Напишите сообщение...")
