div(style="padding-bottom: 14px;").d-flex.justify-content-center.align-items-center.flex-column.h-100
  img(src="./images/content/avatar_1.jpg" alt="").rounded-circle.mb-3.square-200
  span.font-weight-bold.mb-0 Привет, Кодовёнок
  small.text-secondary Выбери чат, чтобы начать общаться