$primary: #4545A5;
$gray: #EFEFEF;
$secondary: #6C757D;
$success: #28A745;
$info: #17A2B8;
$warning: #FFC107;
$danger: #DC3545;
$light: #FBFBFB;
$dark: #343A40;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);
